/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    margin: 0;
    padding: 0;
    background-image: url("./assets/restaurant_icons.png");
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

a{
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}

.hidden{
    display: none !important;
}

.center{
    margin: 0 auto;
    text-align: center;
}

header{
    background-color: #3da5de;
}
